.btn {
    background-color: #72DFD4;
    border-color: #72DFD4;
    box-shadow: 2px 2px #72DFD4;
    margin:0 auto;
    color: white;
    display:block;
}

.btn:hover {
    background-color: #72DFD4;
    border-color: black;
    box-shadow: 1px 1px black;
}   

h1 {
    font-family: 'Quicksand';
    font-weight: 800;
}

input {
    background-color: #FFFAFA;
    max-width: 500px;
}

.display-5 {
    text-align: center;
}

.container {
    width: 45%;
    margin-top: 17%;
    background-color: #F6F8FA;
    border-radius: 15px;
    padding: 5px;
    height: 25rem;
}

.smallContainer {
    width: 85%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}