@import "~@ng-select/ng-select/themes/material.theme.css";
body {
    background-color : #7395AE;
    color: white;
    font-family: 'Roboto Mono';
}

.jumbotron {
    border-color: #5D5C61;
    box-shadow: 3px 3px #5D5C61;
}