/* You can add global styles to this file, and also import other style files */
body {
    background-color : #7395AE;
    color: white;
    font-family: 'Roboto Mono';
}

.jumbotron {
    border-color: #5D5C61;
    box-shadow: 3px 3px #5D5C61;
}