.submitForm {
    background-color: #FFFAFA;
    border-color: #72DFD4;
    box-shadow: 2px 2px #72DFD4;
    margin:0 auto;
    color: black;
    display:block;
}

.submitForm:hover {
    background-color: #72DFD4;
    border-color: black;
    box-shadow: 1px 1px black;
}   

h1, h3 {
    font-family: 'Quicksand';
    font-weight: 800;
}

.container {
    padding: 1% 1%;
    border-radius: 1em;
    border-color: #b6d7d4;
    margin-top: 2%;
    background-color: #FFFAFA;
    border-style: dotted;
}

.smallContainer {
    color: black;
    /* background-color: #FFFAFA; */
    border-style: double;
    border-color: #b6d7d4;
    margin-top: 2%;
    border-radius: 20px;
    margin-bottom: 2%;
    background-image: linear-gradient(45deg, #FFFAFA, #b6d7d4);
}

input {
    background-color: white;
}

.linkedIn {
   float: right;
}

.containerNew {
    margin-left: 50px;
    margin-right: 50px;
}

.display-5 {
    text-align: center;
}

.btn-dark {
    background-color: #b6d7d4;
    color: #000;
}