.display-5 {
    font-family: 'Quicksand';
    padding-top: 4%;
}

h3 {
    font-family: 'Quicksand';
    font-weight: 500;
    color: black;
}

.container {
    color: black;
    margin-top: 20%;
    background-color: white;
    border-style: double;
    border-radius: 20px;
    border-color: #b6d7d4;
}