#navBar {
    background-color: #5D5C61 !important;
    color : white;
}

.navbar-brand {
    font-family: 'Quicksand';
}

li {
    padding-left: 15px;
}

.navbar-expand-lg .navbar-collapse {
    right: 0%;
}

#typeahead-http {
    width: 25%;
}
