<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Student Showcase Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ng-template #rt let-r="result" let-t="term">
        <div *ngIf = 'r.username'[routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}"><a class="nav-link" style="color:black" [routerLink] = "[r.username]">{{r.username}}</a></div>  
        <div *ngIf = 'r.title' [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}"><a class="nav-link" style="color:black" [routerLink] = "[r.authorUsername, 'project', r.title]">{{r.title}} </a></div>
      </ng-template>

      <input id="typeahead-http" placeholder = "Search" type="text" class="form-control mx-xs-3" [class.is-invalid]="searchFailed" #input (focusout)="onSelect($event, input)" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" [resultFormatter]="formatter" (selectItem)="onSelect($event, input)"/>
      <!-- <small *ngIf="searching" class="form-text text-muted">searching...</small> -->
      <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
      



      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}" ><a class="nav-link" [routerLink] = "['/advanced/search']">Advanced Search </a></li>
            <li *ngIf = "authService.loggedIn()" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}" ><a class="nav-link" [routerLink]= "[authService.getCurrentUser(), 'projectGallery']">Project Gallery</a></li>
            <li *ngIf = "!authService.loggedIn()" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}" ><a class="nav-link" [routerLink] = "['/login']">Login </a></li>
            <li *ngIf = "!authService.loggedIn()" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}" ><a class="nav-link" [routerLink] = "['/register']">Register </a></li>
            <li *ngIf = "authService.loggedIn()" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}" ><a class="nav-link" [routerLink]= "[authService.getCurrentUser(), 'addProject']">Add Project</a></li>
            <li *ngIf = "authService.loggedIn()" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}" ><a class="nav-link" [routerLink]= "[authService.getCurrentUser()]">{{authService.getCurrentUser()}}</a></li>
            <li *ngIf = "authService.loggedIn()" class="nav-item" ><a (click) = "onLogoutClick()" class="nav-link" href="#" >Logout </a></li>
        </ul>
    </div><!--/.nav-collapse -->

</nav>