ul {
    list-style-type: none;
}

.list-group-item {
    border: none;
    background-color: white;
    color: black;
    margin-top: 2.5px;
}

.border-bottom {
    font-family: 'Quicksand';
    font-weight: 800;
}
.youtube {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;   
    margin-top: 40px;
    margin-bottom: 40px;
}

.page-header {
    display: inline-block;
}
.deletebutton, .editbutton {
    float: right;
}
.star {
    font-size: 1.5rem;
    color: #b0c4de;
 }
.filled {
    color: gold;
}

.smallContainer {
    background-image: linear-gradient(45deg, #cfe5e3, white, #cfe5e3);
    margin-bottom: 3px;
    border-radius: 10px;
    border-style: dotted;
    border-color: #cfe5e3;
}

.textarea_comment {
    margin-bottom: 40px;
}

.btn {
    margin: 3px;
}

.btn {
    margin: 3px 3px;
    float: right;
}

.deletebutton {
    background-color: #FFFAFA !important;
    border-color: #FFCCCB;
    box-shadow: 2px 2px #FFCCCB;
}

.deletebutton:hover {
    background-color: #ff6c69 !important;
    border-color: black;
    box-shadow: 1px 1px black;
}

.editbutton {
    background-color: #FFFAFA !important;
    border-color: #f3db4f;
    box-shadow: 2px 2px #f3db4f;
    margin-right: 15px;
}

.editbutton:hover {
    background-color: #fdec8b !important;
    border-color: black;
    box-shadow: 1px 1px black;
}