ul {
    list-style-type: none;
}

.list-group-item {
    border: none;
    background-color: #7395AE;
    color: white;
    margin-top: 2.5px;
}

.border-bottom {
    font-family: 'Quicksand';
    font-weight: 800;
}
.youtube {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;   
}
.page-header {
    display: inline-block;
}
.deletebutton {
    float: right;
}