ul {
    list-style-type: none;
}

h1 {
    font-family: 'Quicksand';
    font-weight: 800;
}

.smallContainer {
    color: black;
    border-style: double;
    border-color: #b6d7d4;
    margin-top: 2%;
    border-radius: 20px;
    margin-bottom: 2%;
    background-image: linear-gradient(45deg, #FFFAFA, #b6d7d4);
}

.display-5 {
    text-align: center;
}

.btn-group {
    float: right;
}

.container {
    max-width: 3000px;;
}


label {
    margin: 10px;
}

.hideNR, .hide1, .hide2, .hide3, .hide4, .hide6, .hide5, .hideRC{
    display: none;
}

.NR:hover ~ .hideNR, .RC:hover ~ .hideRC{
    float: right;
    display: block;
    color: #8b0000;
    font-weight: bold;
}

.one:hover ~ .hide1, .two:hover ~ .hide2, .three:hover ~ .hide3, .four:hover ~ .hide4, .five:hover ~ .hide5 {
    float: right;
    display: block;
    color: #d4af37;
    font-weight: bold;
}

input {
    margin-right: 10px;
}

.surround {
    border: 4px solid rgb(79, 79, 79);
    border-bottom: 0px;
    border-radius: 5px;
}

.projects {
    margin-top: 20px;
    border-bottom: 4px solid rgb(79, 79, 79);
}

.mainTitle {
    font-weight: 700;
    font-size: 2rem;
    color: #758b89 !important;
}

.mainTitle:hover, .author:hover{
    text-decoration: underline;
}

.author {
    font-weight: 600;
    font-size: 1.3rem;
    color: #96bfbb !important;
}

.rating {
    color: #d4af37;
    font-size: 1.3rem;
    font-weight: 500;
}

.surround:empty {
    border: 0px solid rgb(79, 79, 79);
}