h1, h3 {
    font-family: 'Quicksand';
    font-weight: 800;
}

.jumbotron {
    border-radius: 1em;
    background-color: #B0A295;
    color: white;
}

.resize {
    size: 15rem;
    height: 15rem;
}

.right {
    padding-left: 20rem;
}

.left {
    padding-left: 5rem;
}

.submitForm {
    background-color: #5D5C61;
    border-color: #5D5C61;
    box-shadow: 2px 2px #B0A295;
    margin:0 auto;
    color: white;
    display:block;
}

.submitForm:hover {
    background-color: #B0A295;
    border-color: #5D5C61;
    box-shadow: 1px 1px #5D5C61;
}   

input, textarea {
    background-color: #FAEFE5;
}

label {
    margin-top: 20px;
}

.resizeSmall {
    width: 15rem;
}